.address-form,
.payment-form {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.total-price {
  font-weight: bold;
  margin: 2rem;  
}

.total-price > span {
    padding: 0 10px;
    background: beige;
}

.out-of-stock-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

.delivery-details {
  border: 4px solid #80808085;
  padding: 1rem;
  color: black;
  margin: 1rem;
  border-radius: 10px;
  background: #419f2369;
}
  

